/* body {
  font-family: Arial, sans-serif;
  color: #e0e0e0;
}
*/

.forming-union-input::placeholder,
.forming-union-select {
  color: #1c7c54;
}

#forming-a-union-submit {
  background-color: #1c7c54;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

#forming-a-union-submit:hover {
  background-color: #145c3b;
}

.forming-union-input,
.forming-union-select,
#forming-a-union-submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #3a3a3a;
  color: #000000;
}

#forming-a-union-form {
  padding: 20px;
  border-radius: 10px;
  min-width: 350px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#forming-a-union-message {
  text-align: center;
  color: black;
} 