.main-container {
    display: flex;
}

.vertical-navbar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 90px;
    height: calc(100vh - 5px);
    background-color: var(--navbar-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.navbar-item {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    color: var(--background);
}

.navbar-item:hover {
    background-color: #bfbfbf;
}

.add-button {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: 1px solid var(--foreground);
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--background);
    cursor: pointer;
    margin-top: 15px;
}

.add-button:hover {
    background-color: #61a653;
}

.book-button {
    width: 50px;
    height: 50px;
    background-color: var(--navbar-background);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-bottom: 140px;
}

.info-panel {
    position: absolute;
    width: 300px;
    height: 100vh;
    margin-left: 400px;
    background-color: var(--navbar-background);
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;
}

.info-panel.active {
    transform: translateX(0);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: #e74c3c;
}


.book-button:hover {
    background-color: #61a653;
}