body, html {
    height: 100%;
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

.create-union-page {
  height: 100vh; 
  overflow-y: scroll; 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px;
  box-sizing: border-box;

  /* Hide the scrollbar */
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.create-union-page::-webkit-scrollbar {
  display: none; 
}

/* Form styling */
.create-union-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    min-height: 100%; 
    box-sizing: border-box;
    padding-bottom: 150px; 
    margin-right: 250px;
    margin-top: 10px;
}


  .create-union-form .form-group {
    margin-bottom: 5px;
    max-width: 520px;
  }
  
  .create-union-form input,
  .create-union-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .create-union-form textarea {
    height: 150px; 
}
  
  .union-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.union-header {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

  /* Image upload section */
  .image-upload-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

 
  .image-box {
    position: relative;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-box .upload-button {
    position: absolute;
    z-index: 1;
    background-color: #61a653;
    color: white;
    max-width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
  }
  
  .image-box .upload-button:hover {
    background-color: #294224;
  }
  
  .image-box .remove-image-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: red;
    color: white;
    max-width: 25px;
    padding: 0px 5px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 2; 
  }
  
  .image-box .remove-image-button:hover {
    background-color: #992323; 
  }
  
  .image-input {
    display: none;
  }
  .image-upload-container label {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
    color: #666;
    align-self: flex-start;
}

/*---------------------------------------------------------------------------------*/
  /* Workplaces Section*/
  .workplace-container{
    margin-top: 5px;
  }

.workplace-section {
    border: 1px solid #ddd; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px; 
    background-color: #f9f9f9;
}

.workplace-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.remove-workplace-btn {
    padding: 5px 10px;
    background-color: #acacac; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.remove-workplace-btn:hover {
    background-color: #d32f2f;
}

.workplace-section h4 {
    margin-top: 0;
    font-size: 16px;
    color: #333;
}

  .workplace-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .workplace-input {
    flex: 1 1 32%;  
    min-width: 180px;
    max-height: 50px;
    font-size: 15px;
  }
  
  .workplace-group > .workplace-input:nth-child(3),
  .workplace-group > .workplace-input:nth-child(4),
  .workplace-group > .workplace-input:nth-child(5) {
    flex: 1 1 32%; 
  }
  
  .workplace-group > .workplace-input:nth-child(6),
  .workplace-group > .workplace-input:nth-child(7),
  .workplace-group > .workplace-input:nth-child(8) {
    flex: 1 1 32%; 
  }
  
  /* Invisible input to make the first row have 3 columns */
  .workplace-input.invisible input {
    visibility: hidden;  
    width: 100%; 
  }
  
  .workplace-input input {
    width: 100%;
  }
  
  .workplace-container .add-workplace-btn{
    padding: 8px 10px;
    background-color: #61a653;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    max-width: 150px;
    width: 100%;
  }
  
  .workplace-container .add-workplace-btn:hover {
    background-color: #294224;
  }
/*-------------------------------------------------------------------------*/
.visibility-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.visibility-container div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.visibility-option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.visibility-option label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer; 
    font-size: 16px; 
    color: #666;
}

.visibility-option input[type="radio"] {
    opacity: 0;
    position: absolute;
}

/*radio button styling */
.custom-radio {
    width: 18px; 
    height: 18px;
    border: 2px solid #666;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Inner circle for checked state */
.visibility-option input[type="radio"]:checked + .custom-radio::before {
    content: "";
    width: 10px; 
    height: 10px;
    background-color: #61a653;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}


.visibility-container label {
   
    line-height: 1.5;
}
/*------------------------------------------------------------------------*/


  .create-union-form .submit-btn{
    padding: 5px 50px;
    background-color: #61a653;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .create-union-form .submit-btn:hover {
    background-color: #294224;
  }
  