.app-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  left: 90px;
  overflow-y: auto;
  z-index: 1;
}

/*--------------------------------------------------------------*/
.union-title {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px; 
}

.union-name {
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 10px;
}

.hamburger-icon {
  width: 30px; 
  height: 30px; 
  object-fit: contain; 
  cursor: pointer;
}
.hamburger-icon:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

/* Dropdown Modal Style */
.union-dropdown-menu {
  position: fixed; 
  bottom: auto;
  top: 80px; 
  left: 180px; 
  width: 200px; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  padding: 10px;
}

.union-dropdown-item {
  padding: 2px 15px;
  font-size: 1rem;
  color: #2c3e50;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.union-dropdown-item + .union-dropdown-item {
  margin-top: 5px; 
}

.union-dropdown-item:hover {
  background-color: #61a653;
  color: white;
}

.union-dropdown-menu hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 5px 0;
}

/* Dropdown Toggle Button */
.dropdown-toggle-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
}

.dropdown-toggle-button:hover {
  color: #61a653;
}

/*-----------------------------------------------------------------*/
.sidebar-group-label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2d2e2d;
  padding: 10px;
}

.poll-button, .chat-item, .workplace-title{
  font-size: 1.1rem;
  color: #666b62;
  padding: 10px;
  margin-left: 10px;
}

.poll-button:hover, .chat-item:hover, .workplace-title:hover{
  background-color: rgba(185, 185, 185, 0.3);
}

.dropdown-toggle{
  font-size: 12px;
  color: #aaaaa9;
}

.dropdown-item{
  font-size: 1.0rem;
  color: #666b62;
  margin-left: 20px;
}

.sidebar-footer{
  margin-top: 40px;
}

.sidebar-footer .find-workplaces-link{
  font-size: 1.1rem;
  margin-left: 20px;
  color: #61a653;
}

.sidebar-footer .find-workplaces-link:hover{
  text-decoration: underline;
}
/*---------------------------------------------------------------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 100px;
  z-index: 10000;
}

.poll-question {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.employee-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.employee-input label {
  font-weight: bold;
  white-space: nowrap;
  flex-shrink: 0;
}

.employee-input input {
  flex: 1;
  max-width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.poll-results {
  margin-top: 20px;
  font-size: 1.2rem;
}

.success-message {
  color: green;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 15px 0;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 15px 0;
}

.poll-options {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.poll-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #c0c0c0;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.poll-option.selected {
  background-color: #61a653;
}

.modal-container .radio-button {
  width: 17px;
  height: 17px;
  border: 1px solid #666B62;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container .radio-button.checked {
  background-color: #61a653;
}

.modal-container .percentage {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

/* Vote button styles */
.modal-container .vote-button {
  background-color: #61a653;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.modal-container .vote-button:hover {
  background-color: #294224;
}

.modal-container .vote-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.change-vote-button {
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.change-vote-button:hover {
  background-color: #701010;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2.0rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 10001;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f44336;
}

/*-------------------------------------------------------------------*/
.invite-modal {
  padding: 20px;
  width: 400px;
  max-width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  text-align: center;
}

.invite-modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.invite-link-container {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.invite-link-container p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

.invite-button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #61a653;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.invite-button:hover {
  background-color: #294224;
}

.invite-modal {
  animation: fadeIn 0.3s ease-in-out;
}

.invite-link-header {
  text-align: left;
}

.invite-link-label {
  font-size: 16px;
  font-weight: bold;
  color: #666B62;
}

.invite-link-input {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
}

.invite-link-input:focus {
  border: 2px solid #61a653;
}

.copy-link-button {
  padding: 9px 8px;
  font-size: 15px;
  font-weight: bold;
  background-color: #61a653;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-link-button:hover {
  background-color: #294224;
}

.copy-success-message {
  margin-top: 10px;
  font-size: 14px;
  color: #4caf50; 
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
