.horizontal-navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--navbar-background); 
    padding: 0 20px; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 300px;
    transition: gap 0.5s ease;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: var(--foreground);
    text-decoration: none;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.name {
    font-size: 2.0rem;
    font-weight: bold;
}

.page-name {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--foreground);
    margin-left: 200px;
    transition: gap 0.5s ease;
}

.navbar-item.profile{
    margin-right: 20px;
}

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    padding: 10px 0;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 40px;
    cursor: pointer;
    color: var(--foreground);
}

.dropdown-menu li:hover {
    background-color: #f2f2f2;
}
/*---------------------------------------------------*/
@media screen and (max-width: 1900px) {
    .navbar-left {
        gap: 260px; 
    }
}
@media screen and (max-width: 1800px) {
    .navbar-left {
        gap: 230px; 
    }
}
@media screen and (max-width: 1700px) {
    .navbar-left {
        gap: 180px; 
    }
}
@media screen and (max-width: 1600px) {
    .navbar-left {
        gap: 140px; 
    }
}

@media screen and (max-width: 1500px) {
    .navbar-left {
        gap: 100px; 
    }
}

@media screen and (max-width: 1400px) {
    .navbar-left {
        gap: 80px; 
    }
}
@media screen and (max-width: 1300px) {
    .navbar-left {
        gap: 40px; 
    }
}

@media screen and (max-width: 1200px) {
    .navbar-left {
        gap: 20px; 
    }
}

@media screen and (max-width: 1100px) {
    .page-name {
        margin-left: 150px;
    }
}

@media screen and (max-width: 768px) {
    .horizontal-navbar-container {
        padding: 0 10px; 
    }
    .logo {
        margin-left: 5px;
    }
    .page-name {
        margin-left: 50px;
    }
}