.results-page {
  max-width: 850px; 
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.search-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%; 
  padding: 0 50px; 
  box-sizing: border-box; 
}

.search-container label{
    font-size: 19px;
    color: #3a3a3a;
}
.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 20px;
}

.search-field {
  flex-grow: 1; 
  min-width: 100px; 
  color: #999;
}

.search-field input {
  width: 100%; 
  background-color: #ffffff;
  color: #636363;
  padding: 5px 24px;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-button {
  flex-shrink: 0; 
  padding: 5px 20px;
  font-size: 1rem;
  margin-top: 0;
  transition: all 0.3s ease;
  background-color: #61A653;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 15px;
  margin-top: 28px;
}

.search-button:hover {
  background-color: #294224;
}

/*--------------------------------------------------------------------*/
.results-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; 
    transition: all 0.3s ease; 
    padding: 0 50px;
  }
  
  .result-item {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    background-color: #f0f0f0;
    color: #3a3a3a;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 15px;
    transition: all 0.3s ease;
    max-height: 90px;
    margin-bottom: 10px;
  }
  
  .result-details {
    flex: 1; 
    min-width: 200px; 
    margin-right: 10px;
  }
  
  .result-details h3 {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #424242;
  }
  
  .result-details p {
    margin: 5px 0;
    color: #8f8f8f;
  }
  
  .join-button {
    flex-shrink: 0; 
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: #61A653;
    color: #fff;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .join-button:hover {
    background-color: #294224;
  }
  
  .result-image {
    flex-shrink: 0; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  /*----------------------------------------------------------------------------------------------------*/
  @media screen and (max-width: 1400px) {
    .results-page{
      margin-left: 100px;
    }
  }
  @media screen and (max-width: 900px) {
    .results-page{
      margin-left: 0px;
      padding: 0px;
      padding-bottom: 50px;
    }
    .search-bar {
      flex-direction: column; 
      align-items: stretch; 
      gap: 15px;
    }
  
    .search-field {
      width: 100%; 
    }
  
    .search-button {
      width: 100%; 
      margin-left: 0; 
    }
    .result-item {
      flex-direction: column; 
      align-items: flex-start; 
      max-height: none; 
      text-align: left; 
      gap: 10px;
    }
  
    .result-image {
      margin-right: 0; 
    }
  
    .result-details {
      width: 100%; 
    }
  
    .join-button {
      align-self: flex-start; 
      margin-top: 10px; 
    }
  }