.page-wrapper { 
    margin: auto;
}

.display-name {
    margin: 30px auto 0;
    font-size: 20px;
}

#username-box {
    min-width: 400px;
    /* font-size: 24px; */
    padding: 5px;
    border: 1px;
    /* border-color: white; */
    border-style: solid;
    border-radius: 7px;
}

.about-me { 
    margin: 10px 0 0 0;
    font-size: 20px;
}

#aboutme-box { 
    padding: 10px;
    border: 1px;
    border-color: white;
    border-style: solid;
    height: 100px;
    border-radius: 7px;
}

#change-password-title {
    font-size: 20px;
}

.change-password {
    margin: 10px 0 0 0;
}