.page-wrapper { 
    margin: auto;
}

.display-name {
    margin: 30px auto 0;
    font-size: 20px;
}

#username-box {
    min-width: 400px;
    /* font-size: 24px; */
    padding: 5px;
    border: 1px;
    /* border-color: white; */
    border-style: solid;
    border-radius: 7px;
}

.about-me { 
    margin: 10px 0 0 0;
    font-size: 20px; 
}

#aboutme-box { 
    padding: 10px;
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 7px;
}

#about-me-text-box { 
    min-height: 200px;
}

#change-password-title {
    font-size: 20px;
}

.change-password {
    margin: 10px 0 0 0;
}

#submit-button {
    background-color: #61A653;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    width: 20%;
    font-size: 16px;
}

#submit-button:hover { 
    background-color: #145c3b;
}